<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisionTraffic AI | Next-Gen Traffic Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="floating-circle circle-1"></div>
    <div class="floating-circle circle-2"></div>
    
    <div class="container">
        {% include 'includes/sidebar.html' %}

        <main class="main-content">
            {% include 'includes/header.html' %}

            {% block content %} {% endblock %}

        </main>
    </div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>